@import "./variables";
@import "./join_section";
@import "./subscribe_section";
@import "./why_us_section";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  background-color: rgb(215, 235, 241);
}

.container {
  width: 50rem;
  height: 35rem;
  background: lightblue;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 55%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
